<article class="post">
    <header>
        <h2 class="post__tille">
            Lorem ipsum dolor sit amet.
        </h2>
    </header> 
    <div class="post__body">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam sunt distinctio atque eius quia expedita voluptates quae enim fuga iure autem voluptatum nostrum cumque consequuntur corporis, eaque dicta debitis minus aut ex neque perspiciatis laboriosam obcaecati. Fugit sunt doloribus dicta possimus et, maxime quasi nostrum, magnam reprehenderit, earum itaque consequatur.
        
    </div>
  </article>